div p:nth-child(1){
    color: rgb(1, 254, 1);
    background-color: black;
}

div p:nth-child(2){
    color: rgb(245, 12, 4);
    background-color: yellow;
}

div p:nth-child(3){
    color: rgb(0, 9, 0);
    background-color: rgba(100, 25, 56, 10);
}